<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="WebSiteList">
      <section name ="webSites" type="Matrix.SitePing.Domain.WebSiteSection,SitePing.Domain"/>
    </sectionGroup>
  </configSections>

  <WebSiteList>
    <webSites>
      <add name="TEST" enabled="false" url="http://fake.hub.uk.com/" emailNotifications="jeremy.collins@matrixknowledge.com"></add>

      <add name="NOMS" enabled="true" url="https://pmu.hub.uk.com/" emailNotifications="helpdesk@tmkg.co.uk;emanuel.carneiro@matrixknowledge.com;jeremy.collins@matrixknowledge.com"></add>
      <add name="Charter" enabled="true" url="https://charter.hub.uk.com/" emailNotifications="helpdesk@tmkg.co.uk;mark.haston@matrixknowledge.com;jeremy.collins@matrixknowledge.com"></add>
      <add name="College Measures" enabled="true" url="http://collegemeasures.org/" emailNotifications="helpdesk@tmkg.co.uk;emanuel.carneiro@matrixknowledge.com;louise.woolard@matrixknowledge.com"></add>
      <add name="St Andrews" enabled="true" url="https://standrews.hub.uk.com/" emailNotifications="helpdesk@tmkg.co.uk;muhammad.jahangir@matrixknowledge.com;louise.woolard@matrixknowledge.com"></add>
    </webSites>
  </WebSiteList>

  <appSettings>
    <add key="Notification.StartTime" value="08:00"/>
    <add key="Notification.EndTime" value="18:00"/>

    <add key="CheckOnStartup" value="true"/>
    <add key="Logging.Verbose" value="true"/>

    <!-- check internal in minutes -->
    <add key="CheckFrequency" value="10"/>
    <!-- time in minutes between repeated failure messages being generated-->
    <add key="RepeatMessageInterval" value="30"/>
    
    <!-- if a site is responding but returns zero bytes of data, this can optionally be counted as a failure -->
    <add key="ZeroBytesIsFailure" value="true"/>

    <add key="Startup.SendMessage" value="true"/>
    <add key="Startup.MessageRecipients" value="jeremy.collins@matrixknowledge.com"/>
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp from="donotreply@hub.uk.com" deliveryMethod="Network">
        <network host="corp-exh1" password="" userName=""></network>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>